# =========================
# 🔹 Java / Quarkus (backend)
# =========================
target/
*.class
*.jar
*.war
*.ear

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Quarkus
.quarkus/
# manter plugins ignorados (como você já tinha)
.quarkus/cli/plugins/

# =========================
# 🔹 Node / Angular (frontend)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# 🔹 IDEs / ferramentas
# =========================
# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Eclipse (se realmente usar)
.project
.classpath
.settings/

# =========================
# 🔹 Sistema operacional
# =========================
.DS_Store

# =========================
# 🔹 Ambiente local
# =========================
.env
.certs/

# =========================
# 🔹 Outros
# =========================
*.log
*.swp
*.swo
*.orig
*.rej

# =========================
# 🔹 Docker
# =========================
docker-compose.override.yml